<html lang="en">
    <div class="container">
    <nav class="navbar">
      <%= link_to("Home Page", "/") %>
      <%= link_to("Pet Index", "/pets") %>
      <%= link_to("Shelter Index", "/shelters") %>
    </nav>
    <main>
      <h1><%= link_to(@shelter.name, "/shelters/#{@shelter.id}") %></h1>
      <%= link_to("Update Shelter", "/shelters/#{@shelter.id}/edit") %>
      <%= link_to("Delete Shelter", "/shelters/#{@shelter.id}", method: :delete) %>
      <% @shelter.attributes.values_at("address", "city", "state", "zip").each do |attribute| %>
        <%= tag.p attribute %>
      <% end %>
      <aside>
        <%= link_to("See all the pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets") %>
      </aside>
    </main>
  </div>
