<html lang="en">
<div class="container">
  <main class="index">
    <% @pets.each do |pet| %>
      <section>
        <%= image_tag(pet.image, alt: "#{pet.name}'s photo.", id: "#{pet.name.downcase}-image") %>
        <h2>Name: <%= link_to(pet.name, "/pets/#{pet.id}") %></h2>
        <%= button_to("Remove Pet from Favorites", "/favorites/#{pet.id}", method: :delete)%>
      </section>
    <% end %>
    <!-- <section id="pending-pets">
      <% @pending_pets.each do |pet| %>
      <%= link_to(pet.name, "/pets/#{pet.id}") %>
      <% end %>
    </section> -->
    <footer>
      <%= link_to("Adopt Pets", "/applications/new", method: :get) %>
      <%= link_to("Remove All Pets from Favorites", "/favorites", method: :delete) %>
    </footer>
  </main>
</div>
