<html lang="en">
<div class="container">
  <main class="index">
    <section id="favorite-pets">
      <% favorites.favorite_pets.each do |pet| %>
      <%= image_tag(pet.image, alt: "#{pet.name}'s photo.", id: "#{pet.name.downcase}-image") %>
      <h2>Name: <%= link_to(pet.name, "/pets/#{pet.id}") %></h2>
      <%= button_to("Remove Pet from Favorites", "/favorites/#{pet.id}", method: :delete)%>
      <% end %>
    </section>
    <section id="pending-pets">
      <% @pending_pets.each do |pet| %>
      <h3><%= link_to(pet.name, "/pets/#{pet.id}") %></h3>
      <% end %>
    </section>
    <footer>
      <h4><%= link_to("Adopt Pets", "/applications/new", method: :get) %></h4>
      <h4><%= link_to("Remove All Pets from Favorites", "/favorites", method: :delete) %></h4>
    </footer>
  </main>
</div>
