<html lang="en">
<div class="container">
  <main>
    <section class="application-details">
      <%= @applicant.name %>
      <%= @applicant.address %>
      <%= @applicant.city %>
      <%= @applicant.state %>
      <%= @applicant.zip %>
      <%= @applicant.phone_number %>
      <%= @applicant.description %>
      <% @applicant.pets.uniq.each do |pet|  %>
      <%= link_to(pet.name, "/pets/#{pet.id}") %>
      <%= link_to(
              "Approve Application for #{pet.name}",
              "/pet_applications/#{@applicant.id}/#{pet.id}",
              method: :patch) %>
      <% end %>
    </section>
  </main>
</div>
