<html lang="en">
<div class="container">
  <main>
    <section class="application-details">
      <%= @applicant.name %>
      <%= @applicant.address %>
      <%= @applicant.city %>
      <%= @applicant.state %>
      <%= @applicant.zip %>
      <%= @applicant.phone_number %>
      <%= @applicant.description %>
      <%= @applicant.pets.each do |pet|  %>
        <%= link_to(pet.name, "/pets/#{pet.id}") %>
      <% end %>
    </section>
  </main>
</div>
