<html lang="en">
  <div class="container">
  <main>
    <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
      <%= label_tag "Image URL" %>
      <%= text_field_tag :image %>
      <br/>
      <%= label_tag :name %>
      <%= text_field_tag :name %>
      <br/>
      <%= label_tag :description %>
      <%= text_field_tag :description %>
      <br/>
      <%= label_tag "Approximate Age" %>
      <%= text_field_tag :approximate_age %>
      <br/>
      <%= label_tag :sex %>
      <%= text_field_tag :sex %>
      <br/>
      <%= submit_tag "Update Pet" %>
    <% end %>
  </main>
</div>
