<html lang="en">
<div class="container">
  <main>
    <%= image_tag(@pet.image,
                  alt: "Photo of #{@pet.name}.",
                  id: "#{@pet.name.downcase.gsub(" ", "-")}-image") %>

    <h1>Name: <%= link_to(@pet.name, "/pets/#{@pet.id}") %></h1>

    <% if @pet.pet_applications.any?(&:approved?) %>
    <h2>On hold for <%= "#{@approved_name}" %></h2>
    <% end %>

    <%= tag.p "Description: #{@pet.description}" %>
    <%= tag.p "Age: #{@pet.approximate_age}" %>
    <%= tag.p "Sex: #{@pet.sex}" %>
    <%= tag.p "Status: #{@pet.status}" %>
    <%= link_to("Update Pet", "/pets/#{@pet.id}/edit") %>
    <%= link_to("Delete Pet", "/pets/#{@pet.id}/", method: :delete) %>
    <% if favorites.pets.has_key?(@pet.id.to_s) %>
    <%= button_to("Remove Pet from Favorites", "/favorites/#{@pet.id}", method: :delete)%>
    <% else %>
    <%= button_to("Add Pet to Favorites", "/favorites/#{@pet.id}", method: :patch) %>
    <% end %>
    <%= link_to("All applications for #{@pet.name}", "/pets/#{@pet.id}/applications") %>
  </main>
</div>
