<html lang="en">
<div class="container">
  <main>
    <%= image_tag(@pet.image,
                  alt: "Photo of #{@pet.name}.",
                  id: "#{@pet.name.downcase.gsub(" ", "-")}-image") %>

    <h1>Name: <%= link_to(@pet.name, "/pets/#{@pet.id}") %></h1>
    <%= button_to "Add Pet to Favorites", "/favorites/#{@pet.id}", method: :patch %>
    <%= tag.p "Description: #{@pet.description}" %>
    <%= tag.p "Age: #{@pet.approximate_age}" %>
    <%= tag.p "Sex: #{@pet.sex}" %>
    <%= tag.p "Status: #{@pet.status}" %>
    <%= link_to("Update Pet", "/pets/#{@pet.id}/edit") %>
    <%= link_to("Delete Pet", "/pets/#{@pet.id}/", method: :delete) %>
  </main>
</div>
