<html lang="en">
  <div class="container">

    <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>

    <nav class="navbar">
      <%= link_to("Home Page", "/") %>
      <%= link_to("Pet Index", "/pets") %>
      <%= link_to("Shelter Index", "/shelters") %>
    </nav>

    <main>
      <%= form_tag "/shelters/#{@shelter_id}/reviews", method: :post do %>
        <%= label_tag :title %>
        <%= text_field_tag :title %>
        <br/>
        <%= label_tag :rating %>
        <%= text_field_tag :rating %>
        <br/>
        <%= label_tag :content %>
        <%= text_field_tag :content %>
        <br/>
        <%= label_tag :image %>
        <%= text_field_tag :image %>
        <br/>
        <%= submit_tag "Submit Review" %>
      <% end %>
    </main>
</div>
